* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('../assets/images/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}

.header {
    height: 100px;
    background-image: url('../assets/images/header5.jpg');
    background-repeat: no-repeat;
    background-position: 0 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 6px solid #0008;
}

.logo-link {
    color: #F0F3F4;
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
}

.logo-link:hover {
    text-shadow: 1px 1px 2px black, 0 0 1em red;;
}

.content {
    width: 80%;
    height: 500px;
    margin: 0 auto;
    padding: 3vw 0;
    text-align: center;
}

.content__search {
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchForm {
  width: 100%;
  margin-bottom: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-button-clear, .form-button-keyboard {
  height: 40px;
  width: 20px;
  border: none;
  outline: none;
  background: #424242;
  cursor: pointer;
}

.form-button-keyboard {
  width: 40px;
}

.icon, .icon-clear, .icon-loader {
  font-size: 20px;
  transition: .2s;
}

.icon-loader {
  left: 60.7%;
  font-size: 20px;
  animation: 1s spin infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hide {
  display: none;
}

.icon:active, .icon-clear:active {
  opacity: 0.5;
}

#movie-search {
    width: 600px;
    height: 40px;
    border: none;
    text-indent: 10px;
    font-size: 16px;
    outline: none;
    color: white;
    background-color: #424242;
}

#submit{
    height: 40px;
    width: 80px;
    background: #2e2d2d;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
    outline: none;
    user-select: none;
    transition: 0.3s;
}

input[type="submit"]:hover {
  background-color: #860516;
}

.unvisible {
  visibility: hidden;
}

.error {
  color: #fff;
}

.swiper-container {
    margin-top: 3%;
    width: 100%;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 25vw;
    animation-name: reveal;
    animation-duration: .3s;
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide-fade {
  transition: .3s;
  opacity: 0;
}

.swiper-button-prev, .swiper-button-next {
  outline: none;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
    filter: drop-shadow(0 0 10px #ff0026 );
}

.swiper-button-prev:active, .swiper-button-next:active {
    opacity: 0.5;
}

.movie-link {
    max-width: 250px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    transition: .3s;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.movie-link:hover {
    color: #ed0a28;
}

.movie-poster {
    font-weight: 500;
    line-height: 2;
    text-align: center;
    width: 250px;
    height: 400px;
    margin-top: 1vw;
    object-fit: cover;
    filter: drop-shadow(0 0 1vw black );
}

.movie-poster::before {
  content: "";
  color: #fff;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
  width: 250px;
  background-image: url('../assets/images/frame.jpg');
}

.movie-poster::after {
  content: "We're sorry, the poster is not availible :(" attr(alt);
  display: block;
  font-size: 16px;
  font-style: normal;
  color: rgb(100, 100, 100);
  position: absolute;
  top: 35%;
}

.movie-rating {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movie-info {
    display: flex;
    width: 250px;
    justify-content: space-between;
    margin-bottom: 2vw;
}

.rating {
    color: #fff;
}

.star {
    width: 20px;
}

.product-date {
    color: #FFF;
}

.swiper-pagination {
  outline: none;
  user-select: none;
}

.license {
    color: white;
}

.license:last-child::before {
    content: url('../assets/images/git.png');
    margin-right: 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding-left: 10%;
    padding-right: 10%;
    border-top: 6px solid #0008;
    background-image: url('../assets/images/header5.jpg');
    background-repeat: no-repeat;
    background-position: 0 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

@media(max-width: 1024px) {
  #searchForm {
    margin-top: 6vw;
    margin-bottom: 4vw;
  }

  .icon, .icon-clear {
    font-size: 26px;
  }

  #movie-search {
      text-indent: 14px;
      font-size: 20px;
  }

  .form-button-keyboard {
    width: 60px;
  }

  .error {
    color: #fff;
    font-size: 20px;
  }

  .content {
    padding: 0;
    width: 100%;
  }

  .swiper-container {
    margin-top: 4vw;
    width: 95%;
  }

  .movie-link {
    font-size: 20px;
  }

  .movie-info {
    margin-bottom: 4vw;
  }
}

@media(max-width: 768px) {
  #searchForm {
    margin-top: 6vw;
    margin-bottom: 4vw;
  }

  .icon, .icon-clear {
    font-size: 28px;
  }

  #movie-search {
      width: 400px;
      height: 40px;
  }

  #submit {
    font-size: 20px;
}

  .form-button-clear {
    width: 40px;
  }

  .form-button-keyboard {
    width: 60px;
  }

  .swiper-container {
    width: 95%;
  }

  .movie-info {
    margin-bottom: 6vw;
  }
}

@media(max-height: 768px) {
  #searchForm {
    margin-top: 2vw;
    margin-bottom: 1vw;
  }

  .swiper-container {
    margin-top: 1%;
  }

  .error {
    font-size: 16px;
  }
}

@media(max-width: 767px) {
  .header {
    height: 71px;
    background-position: 0 32%;
  }

  .logo-link {
    font-size: 26px;
  }

  #searchForm {
    margin-top: 6vw;
    margin-bottom: 4vw;
  }

  .icon, .icon-clear {
    font-size: 18px;
  }

  #movie-search {
      width: 100px;
      height: 40px;
  }

  #submit {
    font-size: 20px;
}

  .form-button-clear {
    height: 40px;
    width: 20px;
  }

  .form-button-keyboard {
    width: 40px;
  }

  .swiper-container {
    margin-top: 0;
    width: 95%;
  }

  .error {
    font-size: 14px;
  }

  .movie-info {
    margin-bottom: 8vw;
  }
}

@media(max-width: 500px) {
  .icon, .icon-clear {
    font-size: 18px;
  }

  #movie-search {
      width: 200px;
  }

  #submit {
    font-size: 20px;
  }

  .form-button-keyboard {
    width: 30px;
  }

  .swiper-container {
    margin-top: 0;
    width: 95%;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .swiper-pagination {
    display: none;
  }

  .error {
    font-size: 14px;
  }

  .movie-link {
    font-size: 20px;
  }

  .movie-poster {
    width: 220px;
    height: 340px;
  }

  .movie-poster::after {
    font-size: 14px;
    width: 220px;
    height: 340px;
  }

  .movie-poster::before {
    height: 340px;
    width: 220px;
  }

  .movie-info {
    width: 220px;
  }
}

@media(max-height: 768px) {
  #searchForm {
    margin-top: 2vw;
    margin-bottom: 1vw;
  }

  .swiper-container {
    margin-top: 1%;
  }

  .error {
    font-size: 16px;
  }
}

@media(max-height: 600px) {
  .header {
    height: 71px;
    background-position: 55% 0;
  }

  .logo-link {
    font-size: 26px;
  }

  #searchForm {
    margin-top: 2vw;
    margin-bottom: 1vw;
  }

  #movie-search {
      width: 50%;
  }

  .swiper-container {
    margin-top: 0;
  }

  .swiper-pagination {
    display: none;
  }

  .swiper-button-next {
    top: 30%;
  }

  .swiper-button-prev {
    top: 30%;
  }

  .movie-link {
    font-size: 14px;
  }

  .movie-poster {
    width: 60px;
    height: 100px;
  }

  .movie-poster::after {
    content: "not availible";
    top: 20%;
    font-size: 12px;
    width: 60px;
    height: 100px;
  }

  .movie-poster::before {
    height: 100px;
    width: 60px;
  }

  .movie-info {
    width: 100px;
    font-size: 12px;
  }

  .error {
    font-size: 16px;
  }

  .footer {
    height: 40px;
  }
}

@media(max-width: 320px) {
  #searchForm {
    margin-top: 4vw;
    margin-bottom: 1vw;
  }

  #movie-search {
      width: 170px;
  }

  .error {
    font-size: 14px;
  }

  .movie-link {
    font-size: 16px;
  }

  .movie-poster {
    width: 180px;
    height: 280px;
  }

  .movie-poster::after {
    content: "poster not availible";
    font-size: 14px;
    width: 180px;
    height: 280px;
  }

  .movie-poster::before {
    height: 280px;
    width: 180px;
  }

  .movie-info {
    width: 180px;
  }
}
