.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 710px;
    margin:  auto;
    background: #424242;
    padding: 10px;
    opacity: 1;
    z-index: 2;
    position: absolute;
    left: calc(50% - 355px);
    top: 60%;
    cursor: grab;
}

.keyboard__buttons {
    width: 100%;
    height: 100%;
    text-align: center;
}

.keyboard__button {
    height: 40px;
    width: 40px;
    background: #2e2d2d;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    padding: 5px;
    margin: 3px;
    transition: .1s ease-in;
    box-shadow: 1px 1px 1px 1px black;
}

.change-lang, .close-keyboard {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0px;
  top: -30px;
  background: #424242;
  border: none;
  cursor: pointer;
  transition: .2s;
}

.change-lang {
  width: 70px;
  left: 0px;
  color: #fff;
}

.change-lang:hover, .close-keyboard:hover {
  background: #860516;
}

.change-lang:active, .close-keyboard:active {
  opacity: 0.5;
}

.active {
    background: #860516;
    transform: translateX(1px) translateY(1px);
    box-shadow: none;
}

.caps {
    background: #860516;
}

.keyboard__button:hover {
    background: #860516;
}

.keyboard__button:active {
    transform: translateX(1px) translateY(1px);
    box-shadow: none;
}

.button-special {
    width: 85px;
}

.button-long {
    width: 315px;
}

.open-keyboard {
  animation-name: toUp;
  animation-duration: .5s;
}

.closed-keyboard {
  animation-name: toDown;
  animation-duration: .5s;
}

@keyframes toUp {
  from {
    transform: translateY(200%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes toDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(200%);
  }
}

@media(max-width: 768px){
  .keyboard {
    width: 100%;
    left: 0;
    justify-content: center;
  }

  .keyboard__button {
    height: 5.5vw;
    width: 5.5vw;
  }

  .button-special {
    width: 10vw;
  }

  .button-long {
    width: 44vw;
  }

  .close-keyboard {
    width: 60px;
  }
}
@media(max-width: 640px){
  .keyboard {
    padding: 0;
  }
  .keyboard__button {
    height: 5vw;
    width: 6.5vw;
    font-size: 8px;
  }

  button[data-code="Tab"] {
    display: none;
  }

  button[data-code="ControlLeft"] {
    display: none;
  }

  button[data-code="ControlRight"] {
    display: none;
  }

  button[data-code="ShiftLeft"] {
    display: none;
  }

  button[data-code="ShiftRight"] {
    display: none;
  }

  button[data-code="AltLeft"] {
    display: none;
  }

  button[data-code="AltRight"] {
    display: none;
  }

  button[data-code="MetaLeft"] {
    display: none;
  }

  button[data-code="MetaRight"] {
    display: none;
  }

  button[data-code="ArrowUp"] {
    display: none;
  }

  button[data-code="ArrowDown"] {
    display: none;
  }

  button[data-code="Equal"] {
    display: none;
  }

  button[data-code="BracketLeft"] {
    display: none;
  }

  button[data-code="BracketRight"] {
    display: none;
  }

  button[data-code="Enter"] {
    width: 13vw;
  }

  .button-special {
    width: 6.5vw;
  }

  .button-long {
    width: 30vw;
  }

  .close-keyboard {
    width: 60px;
  }
}

@media(max-width: 414px) {
  .keyboard {
    padding: 1px;
  }

  .keyboard__button {
    height: 10vw;
    width: 6vw;
    font-size: 8px;
  }

  .button-special {
    width: 8vw;
  }
}

@media(max-width: 375px) {
  .keyboard {
    padding: 1px;
  }

  .keyboard__button {
    height: 10vw;
    width: 6vw;
    font-size: 8px;
  }

  .button-special {
    width: 5vw;
  }
}

@media(max-width: 360px) {
  .keyboard__button {
    width: 5.8vw;
  }

}

@media(max-width: 320px) {
  .keyboard {
    padding: 1px;
  }

  .keyboard__button {
    height: 10vw;
    width: 5.5vw;
    font-size: 8px;
  }

  .button-special {
    width: 6vw;
  }
}

